.ad-container{
	width : 100%;
	height : 70px;
	border-radius: 0;
	background-color: #f7f7f7;
	border: 1px solid #e3e3e3;
	border-bottom : none;
}

.ad{
	height : 50px;
	width : 88%;	
	margin : 0 auto;
	margin-top: 10px;
  	background-color: #f7f7f7;
  	background-color: #ebebeb;
  	border-radius: 0px;
  	text-align: center;
  	line-height: 50px;
}
