@import 'fonts';

[data-reactroot] {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
}

.separation-heading{
	color : #464646;
	text-align: center;
	background-color: #fff;

	h1{
		font-family: 'Signika Negative';
		font-weight: bold;
		margin-left: 5px;
		display: inline;
	}
}

.separation-heading.newest{
	margin-bottom: 0;
}

.timestamps{
	font-family: 'Montserrat', sans-serif;
  color : #52d1dc;
}

.poster{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color : #636363;
}

@media (max-width: 991px){/* Mobile Layouting*/
	.container {/*Tablet wrap adjustment*/
	    width: 100%;
	}
	.separation-heading{
		padding-top: 10px;
		padding-bottom: 15px;

		h1{
			font-size: 23.9px;
		}
	}
	.separation-heading.newest{
		padding-top: 20px;
		padding-bottom: 8px;
	}
}

@media all and (min-width: 992px) {/* Desktop Layouting*/
	.separation-heading{
		padding-top: 20px;
		padding-bottom: 35px;

		h1{
			font-size: 48px;
		}
	}
	.separation-heading.newest{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@import 'icon';
@import 'buttons';
@import 'util';
@import 'header';
@import 'headline';
@import 'ad';
@import 'item';
@import 'carousel';
@import 'footer';
@import 'breadcrumb';
@import 'no-match';
@import 'tmc-pp';
