.breadcrumb{
	background-color: transparent;
	padding : 11px 0 0 14px;
	font-size: 10px;
	font-family: 'Montserrat';	
	a,span{
		color : #b5b5b5!important;
	}
	> li + li:before {
	    content: ">";
	    padding: 0 5px;	    
	}
}
