.btn{
	font-family: 'Mukta Vaani', Helvetica, sans-serif ;
	font-size: small;
}

.btn-primary{
	background-color: #fe4a00;
	color : white;
	border-color: #d64003;

	&:hover{
		background-color: #d64003;
		border-color: #d64003;
	}

}