@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/mukta-vaani-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Mukta Vaani Regular'), local('MuktaVaani-Regular'),
       url('assets/fonts/mukta-vaani-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/mukta-vaani-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/mukta-vaani-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/mukta-vaani-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/mukta-vaani-v3-latin-regular.svg#MuktaVaani') format('svg'); /* Legacy iOS */
}

/* signika-negative-regular - latin */
@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/signika-negative-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Signika Negative Regular'), local('SignikaNegative-Regular'),
       url('assets/fonts/signika-negative-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/signika-negative-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/signika-negative-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/signika-negative-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/signika-negative-v6-latin-regular.svg#SignikaNegative') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: 'Arial Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Arial-rounded-mt-bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Heebo Thin';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Heebo Thin.ttf');
}

// @media all and (min-width: 992px) {
//     body {
//         font-size: 1.2em !important;
//     }
//     h1{
//       font-size: 1.9em;
//     }
//     h2{
//       font-size: 1.4em;
//     }
//     h3{
//       font-size: 1.1em;
//     }
//     h4{
//       font-size: 1em;
//     }
//     h5{
//       font-size: 0.8em;
//     }
//     h6{
//       font-size: 0.7em;
//     }
// }

// @media all and (max-width: 991px) {
//     body {
//         font-size: 1.2em !important;
//     }
//     h1{
//       font-size: 2.5em;
//     }
//     h2{
//       font-size: 1.9em;
//     }
//     h3{
//       font-size: 1.6em;
//     }
//     h4{
//       font-size: 1.3em;
//     }
//     h5{
//       font-size: 1em;
//     }
//     h6{
//       font-size: 0.9em;
//     }
// }

// @media all and (max-width: 767px) {
//     body {
//         font-size: 1.2em !important;
//     }
//     h1{
//       font-size: 1.9em;
//     }
//     h2{
//       font-size: 1.7em;
//     }
//     h3{
//       font-size: 1.5em;
//     }
//     h4{
//       font-size: 1.2em;
//     }
//     h5{
//       font-size: 1em;
//     }
//     h6{
//       font-size: 0.9em;
//     }
// }

// @media all and (max-width: 478px) {
//     body {
//         font-size: 1.3em !important;
//     }
//     h1{
//       font-size: 1.5em;
//     }
//     h2{
//       font-size: 1.2em;
//     }
//     h3{
//       font-size: 1.2em;
//     }
//     h4{
//       font-size: 1em;
//     }
//     h5{
//       font-size: 0.9em;
//     }
//     h6{
//       font-size: 0.7em;
//     }
// }

// @media all and (max-width: 374px) {
//     body {
//         font-size: 1.1em !important;
//     }
//     h1{
//       font-size: 17.9px;
//     }
//     h2{
//       font-size: 1.2em;
//     }
//     h3{
//       font-size: 1.1em;
//     }
//     h4{
//       font-size: 1em;
//     }
//     h5{
//       font-size: 0.9em;
//     }
//     h6{
//       font-size: 10px;
//     }
// }
