footer {
	background-color: #252525;
	color : white;

	h3 {
		font-family: 'Open Sans', sans-serif;
	}
	h5 {
		font-family: 'Roboto Regular';
	}
}

.footer-form{
	display : inline-block!important;
}

.footer-item{
	text-align: right;

	> a {
		font-family: 'Mukta Vaani', Helvetica, sans-serif ;
		color:white;
		text-decoration: none;
	}

	h6 {
		font-family: 'Roboto Regular', Helvetica, sans-serif ;
		color: #767676;
	}
}

@media all and (max-width: 991px) { /* Mobile Layouting*/
	footer {
		h3 {
			font-size: 14.2px;
			margin-top: 11px;
		}
		h5 {
			font-size: 9px;
			margin-top: 5px;
		}
	}
	.footer-item{
		text-align: right;

		> a {
			margin-left: 10px;
			font-size:11.2px;
		}

		h6 {
			font-size: 8.2px;
		}
	}
}

@media all and (min-width: 992px) { /* Desktop Layouting*/
	footer {
		.container{
			padding-top: 53px;
			padding-bottom: 50px;
			text-align: center;
		}
		.subscribe, .subscribe-form{
			display: none;
		}
		.about, .tmc{
			display: inline-block;
		}
		.copyright{
			margin : 0;
			margin-top: 39px;
		}
	}

	.footer-item{
		text-align: center;

		> a {
			margin-left: 30px;
			font-size:16px;
		}

		h6 {
			margin : 0;
			font-size: 12px;
		}
	}

}
