$navbar-height : 40px;
$navbar-color : #fff;
$navbar-border-color : #ebebeb;
$navbar-menuitem-color : #464646;
$search-font : 'Signika Negative', sans-serif;


 /* Both Desktop and Mobile*/
.navbar-default{
  background-color: $navbar-color;
}

.navbar {
  position: relative;
  margin-bottom: 0px;
  .navbar-header{
    height : 84px;
    float : none;
    .navbar-brand{/*Logo Center*/
      position: absolute;
      left: 50%;
      margin-left: -88px;
      display: block;
      margin-top: 9px;
      padding : 0;
      width : 166px;
      height : 67px;
      img{
        width : 166px;
        height : 67px;
      }
    }
    .search-toggle,.close-search{/*Toggle Button for menus*/
      display : none;
    }
  }
  #search{/*Search Menu*/
    display : none;
  }
}

@media all and (min-width: 992px) { /* Desktop Layouting*/
  .navbar {
    height : 140px;
    box-shadow: 0px 3px 7px #e5e5e5;
    .nav-media{
      height: 84px;
      float : right !important;
      >li{
        line-height: 84px;
        a{
          display : inline-block;
          vertical-align: middle;
          .btn{
            width : 160px;
            height: 40px;
            font-size: 14px;
            font-family: "Arial Rounded";
          }
        }
      }
    }
    .container-fluid{
      width : 100%;
      height : 140px;
    }
    .navbar-collapse{
      background-color: #ebebeb;
      height: 56px!important;
      text-align: center;

      .navbar-form{
        display : none;
      }
    }
  }

  .navbar-nav{
    display: inline-block;
    float: none!important;
    vertical-align: top;
    li{
      a{
        font-family: 'Signika Negative'!important;
        font-size: 18px;
        font-family: bold;
        margin-right: 15px;
        color : #707070!important;
        span{
          display: none;
        }
      }
    }
  }

  .nav > li.dropdown.open {
      position: static;
  }
  .nav > li.dropdown.open .dropdown-menu {
      height: 480px;
      width: 100%;
      left:0;
      right:0;
  }

  .search-desktop{
    display : block!important;
    padding : 0!important;
    position: relative;
    right : 50px;
    input{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button{
      width: 40px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

@media all and (min-width: 767px) { /* screen size until 767px */
  .navbar {
    .container-fluid{
      width : 100%;
      padding: 0;
    }
    .navbar-collapse{
      padding : 0;
    }
    .navbar-form {
      padding: 10px 15px;
      margin-top: 8px;
      margin-right: -15px;
      margin-bottom: 8px;
      margin-left: 0;
      border-top: 1px solid #ebebeb;
      text-align: center;
      .form-control{
        display: block;
      }
    }
  }
}

@media all and (max-width: 991px) { /* screen size until 767px */

  .search-desktop{
    display : none;
  }
  /* Override Bootstrap default Toggle*/
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  .collapse.in{
      display:block !important;
  }
  /* END of Toggle*/

  .navbar{
    min-height: 40px;
    .navbar-header{
      height : $navbar-height;
      .nav-media{
        display : none;
      }
      .navbar-brand{/*Logo Center*/
          margin-left: -38px;
          margin-top: 5px;
          width : 76px;
          height : 31px;
          img{
            width : 76px;
            height : 31px;
          }
      }
      .navbar-toggle{/*Menu hamburger Icon Opened*/
        float : left;
        margin-left: 14px;
        border : none;
        background-size: 100% 100%;
        height: 24px;
        width: 26px;
        border-radius: 0;
        background: url('assets/svgs/close.svg');
        .icon-bar{
          background-color: transparent !important;
        }
      }
      .navbar-toggle.collapsed{/*Menu hamburger Icon Closed*/
          height: 22px;
          width: 24px;
          background-size: 100% 100%;
          background: url('assets/svgs/menu.svg');
      }
    }
    .navbar-nav{
      margin-top: 0;
      margin-bottom: 0;
      >li{ /*Item List*/
        border-bottom: 1px solid $navbar-border-color;
        &:last-child{ /*Item List Last doesnt have border bottom*/
          border-bottom: none;
        }
        .dropdown-menu{
          li{
            display : inline-block;
            width : 47%;
            a{
              padding-left: 9px;
              color : $navbar-menuitem-color;
              font-weight: bold;
            }
          }
        }
        a{/*Text Styling*/
          min-height : 50px;
          line-height: 50px;
          padding-top : 0;
          padding-bottom : 0;
          font-family: $search-font;
          padding-left: 9px;
          font-size: 18px;
          font-weight: bold;
          color : #464646 !important;
          span{ /*Caret Down*/
            margin-top: 21px;
            height : 11px;
            width : 21px;
            background-size: 100% 100%;
            background: url('assets/svgs/caret-down.svg');
            border : none;
          }
        }
      }
      >li.dropdown.open{ /*Caret Open*/
        a{
          &:hover{
            background-color: #fff;
            border-bottom : 1px solid #ebebeb;
          }
        }
        span{
          background: url('assets/svgs/caret-up.svg');
        }
      }
    }
    .navbar-form{/*Button Login Properties*/
      margin-bottom: 0;
      padding-bottom : 0;
      padding-top : 0;
      box-shadow: none;
      .form-group{
        text-align: center;
        padding-bottom: 0;
        .btn-primary{
          width : 100px;
          height : 32px;
          font-size: 12px;
          margin-top: 20px;
          margin-bottom: 40px;
        }
      }
    }
  }

  #search{
    .navbar-form{

    }
  }

  #search{/*Search Menu*/
    height : 570px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom : 0px;
    border : none;
    background-color: orange;
    .navbar-form{
      border : none;
      text-align: left;
      h1{
        font-family: $search-font;
        font-size: 24px;
        color : white;
      }
      .form-group{
        display : inline-block;
        .form-control{
          height : 40px;
          width : 264px;
          border-right: none;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
      .btn-primary{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-top: -4px;
        height : 40px;
        width : 64px;
        &:active{
          background-color: #52d1dc;
        }
      }
    }
  }

  .dropdown-toggle{/*Caret to Right side*/
    .caret{
      float : right;
    }
  }

  .close-search{/*Button toggle*/
    display : none;
    margin-top: 7px;
    float : left;
    margin-left: 14px;
    border : none;
    background-size: 100% 100%;
    height: 24px;
    width: 26px;
    border-radius: 0;
    background: url('assets/svgs/close.svg');
  }

  .search-toggle{/*Button toggle*/
    display : block !important;
    margin-top: 7px;
    border : none;
    height: 26px;
    width: 26px;
    float : right;
    margin-right: 15px;
    border-radius: 0;
    background-size: 100% 100%;
    background: url('assets/icons/drawable-mdpi/search.png');
    .icon-bar{
      background-color: transparent !important;
    }
  }

}
