.jumbotron{
	padding : 0!important;
}

@media all and (min-width: 992px) {
	.headline{
		height : 507px;
		width : 700px;
		position : relative;
		background-color: #fff;
		margin-bottom: 10px;
		.headline-img {
	  	padding-top : 5px;
	  	height : 361px;
	  	background-position: center;
	  	background-size: cover;
	  	background-repeat : no-repeat;
	  	margin-bottom: 0;
			border-radius: 0;
	  }
		.headline-header{/*Trending text*/
			padding-top: 5px;
	     padding-right: 10px;
	     text-align: right;
	     .headline-tag{
	       font-family: 'Signika Negative', sans-serif;
	       color : white;
	       font-size: x-small;
	     }

	  }

	   .headline-body {/*Trending title*/
	     .headline-title{
	       font-family: 'Open Sans', sans-serif;
	       margin-top: 10px;
	       font-size: 23.9px;
				 margin-bottom: 30px;
	       color : #464646;
	     }
	   }

	   .headline-footer{/*Trending footer*/
	      position : absolute;
	      bottom : 1%;
	      left : 0;
	      h6{
	        display : inline-block;
					font-size: 14px;
	      }
	   }
	}
}

@media all and (max-width: 991px) {
	.headline{
		height : 300px;
	  position : relative;

	  .headline-img {
	  	padding-top : 5px;
	  	height : 210px;
	  	background-position: center;
	  	background-size: cover;
	  	background-repeat : no-repeat;
	  	margin-bottom: 0;
			border-radius: 0;
	  }

	  .headline-header{/*Trending text*/
			padding-top: 5px;
	     padding-right: 10px;
	     text-align: right;
	     .headline-tag{
	       font-family: 'Signika Negative', sans-serif;
	       color : white;
	       font-size: x-small;
	     }

	  }

	   .headline-body {/*Trending title*/
	     .headline-title{
	       font-family: 'Open Sans', sans-serif;
	       margin-top: 10px;
	       font-size: 17.9px;
				 margin-bottom: 30px;
	       color : #464646;
	     }
	   }

	   .headline-footer{/*Trending footer*/
	      position : absolute;
	      bottom : 1%;
	      left : 0;
	      h6{
	        display : inline-block;
					font-size: 10px;
	      }
	   }
	 }
	 .jumbotron{
		 padding : 0;
	 }
 }
