.ico-dl{/*Icon Drop List*/
	display: inline-block;
	margin-right: 6px;
}

.ico-nv{/*Icon Nav Media*/
	display : inline-block;
	margin-right: 15px;
}

.yu-trending{
	position : relative;
	display : inline-block;
	top : 4px;
	width : 9px;
	height : 15px;
	background: url('assets/icons/drawable-hdpi/yu-trending.png');
	background-size: 100% 100%;
}

.yu-facebook{
	display : inline-block;
	width : 24px;
	height : 24px;
	background: url('assets/icons/drawable-xhdpi/facebook.png');
	background-size: 100% 100%;
}

.yu-instagram{
	display : inline-block;
	width : 24px;
	height : 24px;
	background: url('assets/icons/drawable-xhdpi/instagram.png');
	background-size: 100% 100%;
}

.yu-twitter{
	display : inline-block;
	width : 24px;
	height : 24px;
	background: url('assets/icons/drawable-xhdpi/twitter.png');
	background-size: 100% 100%;
}

.yu-youtube{
	display : inline-block;
	width : 24px;
	height : 24px;
	background: url('assets/icons/drawable-xhdpi/youtube.png');
	background-size: 100% 100%;
}

.yu-flash{
	position : relative;
	display : inline-block;
	margin-right: 2px;
	top : 3px;
	width : 9px;
	height : 13px;
	background: url('assets/icons/drawable-hdpi/flash.png');
	background-size: 100% 100%;
}

@media all and (min-width: 992px) { /* Desktop Icons Size*/

	.yu-topabis{
		position : relative;
		display : inline-block;
		margin-right: 2px;
		top : 3px;
		width : 36px;
		height : 40px;
		background: url('assets/icons/drawable-xhdpi/yu-topabis.png');
		background-size: 100% 100%;
	}
}

@media all and (max-width: 991px) { /* Mobile Icons Size*/
	.ico-dl{
		margin-right: 10px;
		width : 32px;
		height : 32px;
	}

	.yu-trending{
		position : relative;
		display : inline-block;
		top : 7px;
		width : 22px;
		height : 32px;
		background: url('assets/icons/drawable-hdpi/yu-trending.png');
		background-size: 100% 100%;
	}

	.yu-travel{
		display : inline-block;
		position : relative;
		top : 4px;
		width : 32px;
		height : 28px;
		background: url('assets/icons/drawable-hdpi/yu-travel.png');
		background-size: 100% 100%;
	}

	.yu-tips{
		position : relative;
		display : inline-block;
		top : 4px;
		width : 32px;
		height : 22px;
		background: url('assets/icons/drawable-hdpi/yu-tips.png');
		background-size: 100% 100%;
	}

	.yu-film{
		position : relative;
		top : 4px;
		width : 26px;
		height : 28px;
		background: url('assets/icons/drawable-hdpi/yu-film.png');
		background-size: 100% 100%;
	}

	.yu-olahraga{
		position : relative;
		top : 4px;
		width : 25px;
		height : 25px;
		background: url('assets/icons/drawable-hdpi/yu-olahraga.png');
		background-size: 100% 100%;
	}

	.yu-life{
		position : relative;
		top : 4px;
		width : 32px;
		height : 24px;
		background: url('assets/icons/drawable-hdpi/yu-life.png');
		background-size: 100% 100%;
	}

	.yu-indonesiaku{
		position : relative;
		top : 4px;
		width : 24px;
		height : 28px;
		background: url('assets/icons/drawable-hdpi/yu-indonesiaku.png');
		background-size: 100% 100%;
	}

	.yu-kreatif{
		position : relative;
		top : 4px;
		width : 18px;
		height : 28px;
		background: url('assets/icons/drawable-hdpi/yu-kreatif.png');
		background-size: 100% 100%;
	}

	.yu-selebritis{
		position : relative;
		top : 4px;
		width : 28px;
		height : 20px;
		background: url('assets/icons/drawable-hdpi/yu-selebritis.png');
		background-size: 100% 100%;
	}

	.yu-unik{
		position : relative;
		top : 4px;
		width : 32px;
		height : 32px;
		background: url('assets/icons/drawable-hdpi/yu-unik.png');
		background-size: 100% 100%;
	}

	.yu-gambarlucu{
		position : relative;
		top : 4px;
		width : 27px;
		height : 27px;
		background: url('assets/icons/drawable-hdpi/yu-gambarlucu.png');
		background-size: 100% 100%;
	}

	.yu-mistis{
		position : relative;
		top : 4px;
		width : 30px;
		height : 32px;
		background: url('assets/icons/drawable-hdpi/yu-mistis.png');
		background-size: 100% 100%;
	}

	.yu-topabis{
		position : relative;
		display : inline-block;
		margin-right: 2px;
		top : 3px;
		width : 29px;
		height : 32px;
		background: url('assets/icons/drawable-hdpi/yu-topabis.png');
		background-size: 100% 100%;
	}

	.yu-user{
		position : relative;
		display : inline-block;
		margin-right: 6px;
		width : 15px;
		height : 18px;
		background: url('assets/icons/drawable-mdpi/yu-user.png');
		background-size: 100% 100%;
		vertical-align: middle;
	}
}
