.trending-container{
  width : 100%;
  background-color: #f7f7f7;
  .row:last-child {
      .item{
        margin-bottom: 0;
      }
    }
    .item.trending{
      margin-bottom: 10px;
      .row{
        background-color: #fff;
        border : 1px solid #ebebeb;
        .item-footer{
          h6{
            font-size: 9px;
          }
        }
      }
    }
}
.item-body{
  height : 100%;
  padding-left : 10px;
  position : relative;
  .item-header{
    text-align: right;
    .item-tag{
      color : #8a8a8a;
      font-family: 'Signika Negative';
    }
  }
  .item-title {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    h2{
      margin-top: 0;
      color : #464646;
    }
  }
  .item-category {
    h5{
      margin: 0;
      color : #8a8a8a;
      font-family: 'Signika Negative';
    }
  }
  .item-footer{
    position : absolute;
    bottom :5%;
    h6{
      display: inline;
      margin : 0;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
.item.top{
  .top-thumb{
    background-position: center;
    background-size : cover;
    background-repeat : no-repeat;
  }
  .row{
    background-color: #fff;
    border : 1px solid #ebebeb;
  }
  .top-body{
    height : 100%;
    position : relative;
    .top-title{
      h2{
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
  .top-footer{
    position : absolute;
    bottom :15%;
    h6{
      display: inline;
      margin : 0;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
.item.newest{
  .item-title{
    margin-top: 0px;
  }
  .row{
    background-color: #fff;
    border : 1px solid #ebebeb;
  }
  h3{
    font-family: 'Open Sans', sans-serif;
    margin : 0;
    margin-top: 0px;
  }
  .item-footer{
    bottom : 0;
  }
}
.item-thumb{
  position : relative;
  border-radius: 0;
  left : 0px;
  height : inherit;
  background-position: center;
  background-size : cover;
  background-repeat : no-repeat;
}
.separator{
	height : 11px;
  background: linear-gradient(to right, #fe4a00 , #fd6c1d); /* Standard syntax */
	margin-top : 0;
	margin-bottom: 0;
}

@media all and (max-width: 991px) { /* Mobile Layouting*/
  .item-body{
    .item-header{
      padding-top: 2px;
      .item-tag{
        font-size: 9.7px;
      }
    }
    .item-title {
      padding-top: 5px;
      h2{
        font-size: 14.2px;
      }
    }
    .item-category {
      h5{
        margin-top: 8px;
        font-size: 9.7px;
      }
    }
    .item-footer{
      h6{
        font-size: 9.7px;
      }
    }
  }
  .item.top{
    height : 240px;
    width : 240px;
    .top-thumb{
      height : 150px;
    }
    .row{
      height : 135px;
    }
    .top-body{
      .top-title{
        h2{
          font-size: 14.1px;
          margin-top: 10px;
        }
      }
    }
    .top-footer{
      h6{
        font-size: 10px;
      }
    }
  }
  .item.trending{
    height : 135px;
    .row{
      height : 135px;
    }
  }
  .item.newest{
    height : 120px;
    .item-title{
      margin-top: 0px;
    }
    .row{
      padding : 10px;
      height : 120px;
    }
    .item-thumb{
      height : 100px;
    }
    h3{
      font-size: 14.2px;
    }
  }
}

@media all and (min-width: 992px) { /* Desktop Layouting*/
  #root{
    >div{
      >#wrapper{
        background-color: #f4f4f4;
        >.container{
          >.row{
            display: flex;
            flex-flow: column;
          }
        }
      }
    }
  }
  .headline{
    order : 2;
  }
  .ad-container{
    order : 1;
    margin: 29px auto;
    border-bottom: 1px solid #ebebeb;
  }
  .trending-container{
    width : 700px;
    float: left;
    order : 3;
    .container{
      width : 700px;
    }
  }
  .separator{
    width : 700px;
    margin-left: 0;
    order : 4;
  }
  .top-container{
    width : 700px;
    order : 5;
  }
  .newest-container{
    width : 700px;
    order : 6;
    .container{
      width : 700px;
    }
    clear: left;
  }
  .item.trending{
    height : 201px;
    .row{
      height : 201px;
    }
  }
  .item-body{
    .item-header{
      padding-top: 23px;
      .item-tag{
        font-size: 15.5px;
      }
    }
    .item-title {
      padding-top: 15px;
      h2{
        font-size: 20.2px;
      }
    }
    .item-category {
      h5{
        margin-top: 18px;
        font-size: 15.7px;
      }
    }
    .item-footer{
      h6{
        font-size: 14.3px!important;
      }
    }
  }
  .item.top{
    height : 380px;
    width : 340px;
    .top-thumb{
      height : 200px;
    }
    .row{
      height : 180px;
    }
    .top-body{
      .top-title{
        h2{
          font-size: 20.2px;
          margin-top: 18px;
        }
      }
    }
    .top-footer{
      h6{
        font-size: 13.8px;
      }
    }
  }
  .item.newest{
    height : 240px;
    .item-title{
      padding-top: 0;
      margin-top: 0px;
    }
    .row{
      padding : 20px;
      height : 240px;
    }
    .item-thumb{
      height : 200px;
    }
    h3{
      font-size: 24.4px;
    }
  }

}
