.no-match{
	background-color: #ebebeb;
	height : 350px;
	text-align: center;
	div{
		width : 177px;
		height : 65px;
		margin : 0 auto;
		color : #8a8a8a;
		h1{
			font-family: 'Montserrat';
			font-weight: bold;
			font-size: 16px;			
		}
		h2{
			font-family: 'Heebo Thin';
			font-size: 14px;
		}
	}	
}