.tmc,.pp{
	padding : 0;
	h1{
		font-family: 'Signika Negative';
		font-size: 23.9px;
		color : #fe4a00;	
		font-weight: bold;
		text-align: center;
		margin-bottom : 19px;
	}
	h2{
		font-family: 'Open Sans';
		font-size: 17.7px;
		text-align: center;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	p{
		width : 90%;
		margin : 0 auto;
		font-family: 'Roboto Regular';
		font-size: 13.9px;
		text-align: justify;
		text-indent: 30px;
		&:last-child{
			margin-bottom: 30px;
		}
	}
}