@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/mukta-vaani-v3-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Mukta Vaani Regular"), local("MuktaVaani-Regular"), url("assets/fonts/mukta-vaani-v3-latin-regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/mukta-vaani-v3-latin-regular.woff2") format("woff2"), url("assets/fonts/mukta-vaani-v3-latin-regular.woff") format("woff"), url("assets/fonts/mukta-vaani-v3-latin-regular.ttf") format("truetype"), url("assets/fonts/mukta-vaani-v3-latin-regular.svg#MuktaVaani") format("svg");
  /* Legacy iOS */ }

/* signika-negative-regular - latin */
@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/signika-negative-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Signika Negative Regular"), local("SignikaNegative-Regular"), url("assets/fonts/signika-negative-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/signika-negative-v6-latin-regular.woff2") format("woff2"), url("assets/fonts/signika-negative-v6-latin-regular.woff") format("woff"), url("assets/fonts/signika-negative-v6-latin-regular.ttf") format("truetype"), url("assets/fonts/signika-negative-v6-latin-regular.svg#SignikaNegative") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: 'Arial Rounded';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Arial-rounded-mt-bold.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Montserrat-Light.otf"); }

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Heebo Thin';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Heebo Thin.ttf"); }

[data-reactroot] {
  position: absolute;
  width: 100% !important;
  height: 100% !important; }

.separation-heading {
  color: #464646;
  text-align: center;
  background-color: #fff; }
  .separation-heading h1 {
    font-family: 'Signika Negative';
    font-weight: bold;
    margin-left: 5px;
    display: inline; }

.separation-heading.newest {
  margin-bottom: 0; }

.timestamps {
  font-family: 'Montserrat', sans-serif;
  color: #52d1dc; }

.poster {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #636363; }

@media (max-width: 991px) {
  /* Mobile Layouting*/
  .container {
    /*Tablet wrap adjustment*/
    width: 100%; }
  .separation-heading {
    padding-top: 10px;
    padding-bottom: 15px; }
    .separation-heading h1 {
      font-size: 23.9px; }
  .separation-heading.newest {
    padding-top: 20px;
    padding-bottom: 8px; } }

@media all and (min-width: 992px) {
  /* Desktop Layouting*/
  .separation-heading {
    padding-top: 20px;
    padding-bottom: 35px; }
    .separation-heading h1 {
      font-size: 48px; }
  .separation-heading.newest {
    padding-top: 30px;
    padding-bottom: 30px; } }

.ico-dl {
  /*Icon Drop List*/
  display: inline-block;
  margin-right: 6px; }

.ico-nv {
  /*Icon Nav Media*/
  display: inline-block;
  margin-right: 15px; }

.yu-trending {
  position: relative;
  display: inline-block;
  top: 4px;
  width: 9px;
  height: 15px;
  background: url("assets/icons/drawable-hdpi/yu-trending.png");
  background-size: 100% 100%; }

.yu-facebook {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("assets/icons/drawable-xhdpi/facebook.png");
  background-size: 100% 100%; }

.yu-instagram {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("assets/icons/drawable-xhdpi/instagram.png");
  background-size: 100% 100%; }

.yu-twitter {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("assets/icons/drawable-xhdpi/twitter.png");
  background-size: 100% 100%; }

.yu-youtube {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("assets/icons/drawable-xhdpi/youtube.png");
  background-size: 100% 100%; }

.yu-flash {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  top: 3px;
  width: 9px;
  height: 13px;
  background: url("assets/icons/drawable-hdpi/flash.png");
  background-size: 100% 100%; }

@media all and (min-width: 992px) {
  /* Desktop Icons Size*/
  .yu-topabis {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    top: 3px;
    width: 36px;
    height: 40px;
    background: url("assets/icons/drawable-xhdpi/yu-topabis.png");
    background-size: 100% 100%; } }

@media all and (max-width: 991px) {
  /* Mobile Icons Size*/
  .ico-dl {
    margin-right: 10px;
    width: 32px;
    height: 32px; }
  .yu-trending {
    position: relative;
    display: inline-block;
    top: 7px;
    width: 22px;
    height: 32px;
    background: url("assets/icons/drawable-hdpi/yu-trending.png");
    background-size: 100% 100%; }
  .yu-travel {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 32px;
    height: 28px;
    background: url("assets/icons/drawable-hdpi/yu-travel.png");
    background-size: 100% 100%; }
  .yu-tips {
    position: relative;
    display: inline-block;
    top: 4px;
    width: 32px;
    height: 22px;
    background: url("assets/icons/drawable-hdpi/yu-tips.png");
    background-size: 100% 100%; }
  .yu-film {
    position: relative;
    top: 4px;
    width: 26px;
    height: 28px;
    background: url("assets/icons/drawable-hdpi/yu-film.png");
    background-size: 100% 100%; }
  .yu-olahraga {
    position: relative;
    top: 4px;
    width: 25px;
    height: 25px;
    background: url("assets/icons/drawable-hdpi/yu-olahraga.png");
    background-size: 100% 100%; }
  .yu-life {
    position: relative;
    top: 4px;
    width: 32px;
    height: 24px;
    background: url("assets/icons/drawable-hdpi/yu-life.png");
    background-size: 100% 100%; }
  .yu-indonesiaku {
    position: relative;
    top: 4px;
    width: 24px;
    height: 28px;
    background: url("assets/icons/drawable-hdpi/yu-indonesiaku.png");
    background-size: 100% 100%; }
  .yu-kreatif {
    position: relative;
    top: 4px;
    width: 18px;
    height: 28px;
    background: url("assets/icons/drawable-hdpi/yu-kreatif.png");
    background-size: 100% 100%; }
  .yu-selebritis {
    position: relative;
    top: 4px;
    width: 28px;
    height: 20px;
    background: url("assets/icons/drawable-hdpi/yu-selebritis.png");
    background-size: 100% 100%; }
  .yu-unik {
    position: relative;
    top: 4px;
    width: 32px;
    height: 32px;
    background: url("assets/icons/drawable-hdpi/yu-unik.png");
    background-size: 100% 100%; }
  .yu-gambarlucu {
    position: relative;
    top: 4px;
    width: 27px;
    height: 27px;
    background: url("assets/icons/drawable-hdpi/yu-gambarlucu.png");
    background-size: 100% 100%; }
  .yu-mistis {
    position: relative;
    top: 4px;
    width: 30px;
    height: 32px;
    background: url("assets/icons/drawable-hdpi/yu-mistis.png");
    background-size: 100% 100%; }
  .yu-topabis {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    top: 3px;
    width: 29px;
    height: 32px;
    background: url("assets/icons/drawable-hdpi/yu-topabis.png");
    background-size: 100% 100%; }
  .yu-user {
    position: relative;
    display: inline-block;
    margin-right: 6px;
    width: 15px;
    height: 18px;
    background: url("assets/icons/drawable-mdpi/yu-user.png");
    background-size: 100% 100%;
    vertical-align: middle; } }

.btn {
  font-family: 'Mukta Vaani', Helvetica, sans-serif;
  font-size: small; }

.btn-primary {
  background-color: #fe4a00;
  color: white;
  border-color: #d64003; }
  .btn-primary:hover {
    background-color: #d64003;
    border-color: #d64003; }

.no-padding {
  padding: 0; }

.no-padding-right {
  padding-right: 0; }

.no-margin {
  margin: 0; }

.no-margin-btm {
  margin-bottom: 0; }

/* Both Desktop and Mobile*/
.navbar-default {
  background-color: #fff; }

.navbar {
  position: relative;
  margin-bottom: 0px; }
  .navbar .navbar-header {
    height: 84px;
    float: none; }
    .navbar .navbar-header .navbar-brand {
      /*Logo Center*/
      position: absolute;
      left: 50%;
      margin-left: -88px;
      display: block;
      margin-top: 9px;
      padding: 0;
      width: 166px;
      height: 67px; }
      .navbar .navbar-header .navbar-brand img {
        width: 166px;
        height: 67px; }
    .navbar .navbar-header .search-toggle, .navbar .navbar-header .close-search {
      /*Toggle Button for menus*/
      display: none; }
  .navbar #search {
    /*Search Menu*/
    display: none; }

@media all and (min-width: 992px) {
  /* Desktop Layouting*/
  .navbar {
    height: 140px;
    box-shadow: 0px 3px 7px #e5e5e5; }
    .navbar .nav-media {
      height: 84px;
      float: right !important; }
      .navbar .nav-media > li {
        line-height: 84px; }
        .navbar .nav-media > li a {
          display: inline-block;
          vertical-align: middle; }
          .navbar .nav-media > li a .btn {
            width: 160px;
            height: 40px;
            font-size: 14px;
            font-family: "Arial Rounded"; }
    .navbar .container-fluid {
      width: 100%;
      height: 140px; }
    .navbar .navbar-collapse {
      background-color: #ebebeb;
      height: 56px !important;
      text-align: center; }
      .navbar .navbar-collapse .navbar-form {
        display: none; }
  .navbar-nav {
    display: inline-block;
    float: none !important;
    vertical-align: top; }
    .navbar-nav li a {
      font-family: "Signika Negative" !important;
      font-size: 18px;
      font-family: bold;
      margin-right: 15px;
      color: #707070 !important; }
      .navbar-nav li a span {
        display: none; }
  .nav > li.dropdown.open {
    position: static; }
  .nav > li.dropdown.open .dropdown-menu {
    height: 480px;
    width: 100%;
    left: 0;
    right: 0; }
  .search-desktop {
    display: block !important;
    padding: 0 !important;
    position: relative;
    right: 50px; }
    .search-desktop input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .search-desktop button {
      width: 40px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; } }

@media all and (min-width: 767px) {
  /* screen size until 767px */
  .navbar .container-fluid {
    width: 100%;
    padding: 0; }
  .navbar .navbar-collapse {
    padding: 0; }
  .navbar .navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: 0;
    border-top: 1px solid #ebebeb;
    text-align: center; }
    .navbar .navbar-form .form-control {
      display: block; } }

@media all and (max-width: 991px) {
  /* screen size until 767px */
  .search-desktop {
    display: none; }
  /* Override Bootstrap default Toggle*/
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .collapse.in {
    display: block !important; }
  /* END of Toggle*/
  .navbar {
    min-height: 40px; }
    .navbar .navbar-header {
      height: 40px; }
      .navbar .navbar-header .nav-media {
        display: none; }
      .navbar .navbar-header .navbar-brand {
        /*Logo Center*/
        margin-left: -38px;
        margin-top: 5px;
        width: 76px;
        height: 31px; }
        .navbar .navbar-header .navbar-brand img {
          width: 76px;
          height: 31px; }
      .navbar .navbar-header .navbar-toggle {
        /*Menu hamburger Icon Opened*/
        float: left;
        margin-left: 14px;
        border: none;
        background-size: 100% 100%;
        height: 24px;
        width: 26px;
        border-radius: 0;
        background: url("assets/svgs/close.svg"); }
        .navbar .navbar-header .navbar-toggle .icon-bar {
          background-color: transparent !important; }
      .navbar .navbar-header .navbar-toggle.collapsed {
        /*Menu hamburger Icon Closed*/
        height: 22px;
        width: 24px;
        background-size: 100% 100%;
        background: url("assets/svgs/menu.svg"); }
    .navbar .navbar-nav {
      margin-top: 0;
      margin-bottom: 0; }
      .navbar .navbar-nav > li {
        /*Item List*/
        border-bottom: 1px solid #ebebeb; }
        .navbar .navbar-nav > li:last-child {
          /*Item List Last doesnt have border bottom*/
          border-bottom: none; }
        .navbar .navbar-nav > li .dropdown-menu li {
          display: inline-block;
          width: 47%; }
          .navbar .navbar-nav > li .dropdown-menu li a {
            padding-left: 9px;
            color: #464646;
            font-weight: bold; }
        .navbar .navbar-nav > li a {
          /*Text Styling*/
          min-height: 50px;
          line-height: 50px;
          padding-top: 0;
          padding-bottom: 0;
          font-family: "Signika Negative", sans-serif;
          padding-left: 9px;
          font-size: 18px;
          font-weight: bold;
          color: #464646 !important; }
          .navbar .navbar-nav > li a span {
            /*Caret Down*/
            margin-top: 21px;
            height: 11px;
            width: 21px;
            background-size: 100% 100%;
            background: url("assets/svgs/caret-down.svg");
            border: none; }
      .navbar .navbar-nav > li.dropdown.open {
        /*Caret Open*/ }
        .navbar .navbar-nav > li.dropdown.open a:hover {
          background-color: #fff;
          border-bottom: 1px solid #ebebeb; }
        .navbar .navbar-nav > li.dropdown.open span {
          background: url("assets/svgs/caret-up.svg"); }
    .navbar .navbar-form {
      /*Button Login Properties*/
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 0;
      box-shadow: none; }
      .navbar .navbar-form .form-group {
        text-align: center;
        padding-bottom: 0; }
        .navbar .navbar-form .form-group .btn-primary {
          width: 100px;
          height: 32px;
          font-size: 12px;
          margin-top: 20px;
          margin-bottom: 40px; }
  #search {
    /*Search Menu*/
    height: 570px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0px;
    border: none;
    background-color: orange; }
    #search .navbar-form {
      border: none;
      text-align: left; }
      #search .navbar-form h1 {
        font-family: "Signika Negative", sans-serif;
        font-size: 24px;
        color: white; }
      #search .navbar-form .form-group {
        display: inline-block; }
        #search .navbar-form .form-group .form-control {
          height: 40px;
          width: 264px;
          border-right: none;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px; }
      #search .navbar-form .btn-primary {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-top: -4px;
        height: 40px;
        width: 64px; }
        #search .navbar-form .btn-primary:active {
          background-color: #52d1dc; }
  .dropdown-toggle {
    /*Caret to Right side*/ }
    .dropdown-toggle .caret {
      float: right; }
  .close-search {
    /*Button toggle*/
    display: none;
    margin-top: 7px;
    float: left;
    margin-left: 14px;
    border: none;
    background-size: 100% 100%;
    height: 24px;
    width: 26px;
    border-radius: 0;
    background: url("assets/svgs/close.svg"); }
  .search-toggle {
    /*Button toggle*/
    display: block !important;
    margin-top: 7px;
    border: none;
    height: 26px;
    width: 26px;
    float: right;
    margin-right: 15px;
    border-radius: 0;
    background-size: 100% 100%;
    background: url("assets/icons/drawable-mdpi/search.png"); }
    .search-toggle .icon-bar {
      background-color: transparent !important; } }

.jumbotron {
  padding: 0 !important; }

@media all and (min-width: 992px) {
  .headline {
    height: 507px;
    width: 700px;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px; }
    .headline .headline-img {
      padding-top: 5px;
      height: 361px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 0;
      border-radius: 0; }
    .headline .headline-header {
      /*Trending text*/
      padding-top: 5px;
      padding-right: 10px;
      text-align: right; }
      .headline .headline-header .headline-tag {
        font-family: 'Signika Negative', sans-serif;
        color: white;
        font-size: x-small; }
    .headline .headline-body {
      /*Trending title*/ }
      .headline .headline-body .headline-title {
        font-family: 'Open Sans', sans-serif;
        margin-top: 10px;
        font-size: 23.9px;
        margin-bottom: 30px;
        color: #464646; }
    .headline .headline-footer {
      /*Trending footer*/
      position: absolute;
      bottom: 1%;
      left: 0; }
      .headline .headline-footer h6 {
        display: inline-block;
        font-size: 14px; } }

@media all and (max-width: 991px) {
  .headline {
    height: 300px;
    position: relative; }
    .headline .headline-img {
      padding-top: 5px;
      height: 210px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 0;
      border-radius: 0; }
    .headline .headline-header {
      /*Trending text*/
      padding-top: 5px;
      padding-right: 10px;
      text-align: right; }
      .headline .headline-header .headline-tag {
        font-family: 'Signika Negative', sans-serif;
        color: white;
        font-size: x-small; }
    .headline .headline-body {
      /*Trending title*/ }
      .headline .headline-body .headline-title {
        font-family: 'Open Sans', sans-serif;
        margin-top: 10px;
        font-size: 17.9px;
        margin-bottom: 30px;
        color: #464646; }
    .headline .headline-footer {
      /*Trending footer*/
      position: absolute;
      bottom: 1%;
      left: 0; }
      .headline .headline-footer h6 {
        display: inline-block;
        font-size: 10px; }
  .jumbotron {
    padding: 0; } }

.ad-container {
  width: 100%;
  height: 70px;
  border-radius: 0;
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
  border-bottom: none; }

.ad {
  height: 50px;
  width: 88%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #f7f7f7;
  background-color: #ebebeb;
  border-radius: 0px;
  text-align: center;
  line-height: 50px; }

.trending-container {
  width: 100%;
  background-color: #f7f7f7; }
  .trending-container .row:last-child .item {
    margin-bottom: 0; }
  .trending-container .item.trending {
    margin-bottom: 10px; }
    .trending-container .item.trending .row {
      background-color: #fff;
      border: 1px solid #ebebeb; }
      .trending-container .item.trending .row .item-footer h6 {
        font-size: 9px; }

.item-body {
  height: 100%;
  padding-left: 10px;
  position: relative; }
  .item-body .item-header {
    text-align: right; }
    .item-body .item-header .item-tag {
      color: #8a8a8a;
      font-family: 'Signika Negative'; }
  .item-body .item-title {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif; }
    .item-body .item-title h2 {
      margin-top: 0;
      color: #464646; }
  .item-body .item-category h5 {
    margin: 0;
    color: #8a8a8a;
    font-family: 'Signika Negative'; }
  .item-body .item-footer {
    position: absolute;
    bottom: 5%; }
    .item-body .item-footer h6 {
      display: inline;
      margin: 0;
      font-family: 'Montserrat', sans-serif; }

.item.top .top-thumb {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.item.top .row {
  background-color: #fff;
  border: 1px solid #ebebeb; }

.item.top .top-body {
  height: 100%;
  position: relative; }
  .item.top .top-body .top-title h2 {
    font-family: 'Open Sans', sans-serif; }

.item.top .top-footer {
  position: absolute;
  bottom: 15%; }
  .item.top .top-footer h6 {
    display: inline;
    margin: 0;
    font-family: 'Montserrat', sans-serif; }

.item.newest .item-title {
  margin-top: 0px; }

.item.newest .row {
  background-color: #fff;
  border: 1px solid #ebebeb; }

.item.newest h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-top: 0px; }

.item.newest .item-footer {
  bottom: 0; }

.item-thumb {
  position: relative;
  border-radius: 0;
  left: 0px;
  height: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.separator {
  height: 11px;
  background: linear-gradient(to right, #fe4a00, #fd6c1d);
  /* Standard syntax */
  margin-top: 0;
  margin-bottom: 0; }

@media all and (max-width: 991px) {
  /* Mobile Layouting*/
  .item-body .item-header {
    padding-top: 2px; }
    .item-body .item-header .item-tag {
      font-size: 9.7px; }
  .item-body .item-title {
    padding-top: 5px; }
    .item-body .item-title h2 {
      font-size: 14.2px; }
  .item-body .item-category h5 {
    margin-top: 8px;
    font-size: 9.7px; }
  .item-body .item-footer h6 {
    font-size: 9.7px; }
  .item.top {
    height: 240px;
    width: 240px; }
    .item.top .top-thumb {
      height: 150px; }
    .item.top .row {
      height: 135px; }
    .item.top .top-body .top-title h2 {
      font-size: 14.1px;
      margin-top: 10px; }
    .item.top .top-footer h6 {
      font-size: 10px; }
  .item.trending {
    height: 135px; }
    .item.trending .row {
      height: 135px; }
  .item.newest {
    height: 120px; }
    .item.newest .item-title {
      margin-top: 0px; }
    .item.newest .row {
      padding: 10px;
      height: 120px; }
    .item.newest .item-thumb {
      height: 100px; }
    .item.newest h3 {
      font-size: 14.2px; } }

@media all and (min-width: 992px) {
  /* Desktop Layouting*/
  #root > div > #wrapper {
    background-color: #f4f4f4; }
    #root > div > #wrapper > .container > .row {
      display: flex;
      flex-flow: column; }
  .headline {
    order: 2; }
  .ad-container {
    order: 1;
    margin: 29px auto;
    border-bottom: 1px solid #ebebeb; }
  .trending-container {
    width: 700px;
    float: left;
    order: 3; }
    .trending-container .container {
      width: 700px; }
  .separator {
    width: 700px;
    margin-left: 0;
    order: 4; }
  .top-container {
    width: 700px;
    order: 5; }
  .newest-container {
    width: 700px;
    order: 6;
    clear: left; }
    .newest-container .container {
      width: 700px; }
  .item.trending {
    height: 201px; }
    .item.trending .row {
      height: 201px; }
  .item-body .item-header {
    padding-top: 23px; }
    .item-body .item-header .item-tag {
      font-size: 15.5px; }
  .item-body .item-title {
    padding-top: 15px; }
    .item-body .item-title h2 {
      font-size: 20.2px; }
  .item-body .item-category h5 {
    margin-top: 18px;
    font-size: 15.7px; }
  .item-body .item-footer h6 {
    font-size: 14.3px !important; }
  .item.top {
    height: 380px;
    width: 340px; }
    .item.top .top-thumb {
      height: 200px; }
    .item.top .row {
      height: 180px; }
    .item.top .top-body .top-title h2 {
      font-size: 20.2px;
      margin-top: 18px; }
    .item.top .top-footer h6 {
      font-size: 13.8px; }
  .item.newest {
    height: 240px; }
    .item.newest .item-title {
      padding-top: 0;
      margin-top: 0px; }
    .item.newest .row {
      padding: 20px;
      height: 240px; }
    .item.newest .item-thumb {
      height: 200px; }
    .item.newest h3 {
      font-size: 24.4px; } }

.owl-carousel {
  background-color: #f7f7f7;
  border: 1px solid #ebebeb; }
  .owl-carousel .owl-stage {
    padding-top: 10px;
    padding-left: 25px !important; }

footer {
  background-color: #252525;
  color: white; }
  footer h3 {
    font-family: 'Open Sans', sans-serif; }
  footer h5 {
    font-family: 'Roboto Regular'; }

.footer-form {
  display: inline-block !important; }

.footer-item {
  text-align: right; }
  .footer-item > a {
    font-family: 'Mukta Vaani', Helvetica, sans-serif;
    color: white;
    text-decoration: none; }
  .footer-item h6 {
    font-family: 'Roboto Regular', Helvetica, sans-serif;
    color: #767676; }

@media all and (max-width: 991px) {
  /* Mobile Layouting*/
  footer h3 {
    font-size: 14.2px;
    margin-top: 11px; }
  footer h5 {
    font-size: 9px;
    margin-top: 5px; }
  .footer-item {
    text-align: right; }
    .footer-item > a {
      margin-left: 10px;
      font-size: 11.2px; }
    .footer-item h6 {
      font-size: 8.2px; } }

@media all and (min-width: 992px) {
  /* Desktop Layouting*/
  footer .container {
    padding-top: 53px;
    padding-bottom: 50px;
    text-align: center; }
  footer .subscribe, footer .subscribe-form {
    display: none; }
  footer .about, footer .tmc {
    display: inline-block; }
  footer .copyright {
    margin: 0;
    margin-top: 39px; }
  .footer-item {
    text-align: center; }
    .footer-item > a {
      margin-left: 30px;
      font-size: 16px; }
    .footer-item h6 {
      margin: 0;
      font-size: 12px; } }

.breadcrumb {
  background-color: transparent;
  padding: 11px 0 0 14px;
  font-size: 10px;
  font-family: 'Montserrat'; }
  .breadcrumb a, .breadcrumb span {
    color: #b5b5b5 !important; }
  .breadcrumb > li + li:before {
    content: ">";
    padding: 0 5px; }

.no-match {
  background-color: #ebebeb;
  height: 350px;
  text-align: center; }
  .no-match div {
    width: 177px;
    height: 65px;
    margin: 0 auto;
    color: #8a8a8a; }
    .no-match div h1 {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 16px; }
    .no-match div h2 {
      font-family: 'Heebo Thin';
      font-size: 14px; }

.tmc, .pp {
  padding: 0; }
  .tmc h1, .pp h1 {
    font-family: 'Signika Negative';
    font-size: 23.9px;
    color: #fe4a00;
    font-weight: bold;
    text-align: center;
    margin-bottom: 19px; }
  .tmc h2, .pp h2 {
    font-family: 'Open Sans';
    font-size: 17.7px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px; }
  .tmc p, .pp p {
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto Regular';
    font-size: 13.9px;
    text-align: justify;
    text-indent: 30px; }
    .tmc p:last-child, .pp p:last-child {
      margin-bottom: 30px; }
